/* This is the CSS for the basuc html file */

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
   

}

/* **************************************************************************************** */

header{
    width: 100%;
    height: 85vh;
}

.one{
    float: left;
    background-color:#db5461;
    -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
    width: 60%;
    height: 85vh;
    background-image:url('logo.png');
     background-repeat:no-repeat;
     background-position-x: 50px;
     background-position-y: 20%;
}

.one h3{
    font-size: 25px;
    text-align:left;
    padding-left: 60px;
    padding-top: 60px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.one h2{
     text-align: center;
     margin-top: 280px;
     font-size: 30px;
     color: white;
}

.buttonone{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #30343f;
    background-color: #fff;
    padding: 1rem 2rem;
    border: 4px solid #30343f;
    border-radius: 20rem;
    display: grid;
    margin-top: 5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    animation: animateBottom 1s ease-out;
    font-size: 1.7rem;
    padding: 0.7rem 1.7rem;
    margin-left: 25px;
}


 .menu {
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    /* line-height: 100px; */
    text-transform:uppercase;
    background-image: url(bg.jpg);
    background-size: cover;
    width: 50%;
    height: 85vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-position: top;
 }
 
 .menu ul li {
       font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        border-style: solid;
        border-width: 5px;
        font-size: 15px;
        font-weight: bold;
        text-transform:uppercase;
        float: right;
        border-color: white;
        background-color: white;
        margin-top: 20px;
 }

 .menu ul li :hover{
     color: red;

 }
 
 .bottommenu {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    width: 100%;
    height: 15vh;
    align-items: flex-start;
 }
.bottommenu > div {
    background-color: black;
    width: 100px;
    margin:15px;
    text-align: center;
    font-size: 15px;
    margin-left: 20%;
}
 .bottommenu1{
    font-size: 20px;
   color: white;
   float: left;
   background-image: url(location.png);
   background-repeat:no-repeat;
   background-size: 25px;
   background-position-x: -5px;
   background-position-y: 5%;
 }
 
 .bottommenu2 
 {
    font-size: 20px;
    color: white;
    margin-top: 30px;
    margin-right: 150px;
    background-image: url(customer.png);
    background-repeat:no-repeat;
    background-size: 25px;
    background-position-x: -5px;
   background-position-y: 5%;
  } 
  .bottommenu3 
 {
     font-size: 20px;
    color: white;
    background-image: url(experience.png);
    background-repeat:no-repeat;
    background-size: 25px;
    background-position-x: -5px;
   background-position-y: 5%;
}

